* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  height: 70vh;
  margin: 0 auto;
  margin-top: 50px;
  width: 100%;
  max-width: 1400px;
  background-color: hsl(206, 94%, 87%);
  font-size: 1rem;
}
main {
  display: flex;
  gap: 7%;
  margin: 10px;
  margin-top: 20px;
  margin: 0 auto;
  padding: 30px;
  width: 80%;
  background-color: white;
  border: none;
  border-radius: 10px;
}
.container {
  background-image: url('../assets/images/bg-sidebar-desktop.svg');
  padding: 10px;
  height: 70vh;
  flex-basis: 25%;
  border-radius: 10px;
}
.list {
  padding: 15px;
}
.list-content {
  display: flex;
  gap: 20px;
  margin: 25px 10px;
}

.list-content-link {
  margin-top: 10px;
}
.list-content-link a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  padding: 10px;
}
.list-content-link a:hover {
  color: black;
  background-color: hsl(217, 100%, 97%);
}

.list-content-text h5 {
  color: hsl(231, 11%, 63%);
  margin: 2px;
}
.list-content-text p {
  color: hsl(229, 24%, 87%);
  margin: 2px;
}
.wrapper {
  flex-basis: 65%;
  padding: 20px;
}
.cont2 {
  padding: 5px;
  width: fit-content;
}
.head {
  margin-top: 5px;
  padding-top: 5px;
}
.head h2 {
  margin: 10px 0px;
  padding-top: 5px;
  color: hsl(213, 96%, 18%);
  font-weight: 700;
}
form {
  margin-top: 35px;
}
.input {
  margin: 15px;
  margin-left: 0;
}
.input input {
  margin-top: 5px;
  width: 98%;
  padding: 10px;
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 10px;
  color: black;
}

.btn {
  margin-top: 30px;
  position: relative;
}
.btn button {
  position: absolute;
  right: 0;
  color: white;
  background-color: hsl(213, 96%, 18%);
  width: 120px;
  padding: 10px;
  border: none;
  border-radius: 10px;
}
#go {
  right: 100%;
  left: 0%;
  background-color: white;
  color: hsl(231, 11%, 63%);
}

.plan {
  display: flex;
  gap: 20px;
  margin: 20px 0px;
}
.plan-item {
  border: 1px solid hsl(229, 24%, 87%);
  padding: 15px;
  width: 150px;
  border-radius: 10px;
}
.plan-item img {
  margin-top: 10px;
  margin-bottom: 20px;
}
.plan-item h3 {
  color: hsl(213, 96%, 18%);
  margin: 10px 0px 5px 0px;
}
.select-plan {
  margin: 20px 0px;
  padding-top: 10px;
  position: relative;
}
.select-plan div {
  width: fit-content;
  margin: 0 auto;
}
.click-btn {
  display: inline-block;
}

.add-ons {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.add-item {
  display: flex;
  gap: 20px;
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 10px;
  margin: 10px 0px;
  justify-content: space-between;
  align-items: center;
  width: 450px;
  padding: 10px;
}
.add-item button {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 5px;
  margin: 0px 15px;
}
.one {
  flex-basis: 70%;
}
/* for purplish blue */
.pblue {
  color: hsl(243, 100%, 62%);
}

/* for marine blue */
.mblue {
  color: hsl(213, 96%, 18%);
}
@media (max-width: 450px) {
  body {
    height: 100vh;
    padding: 0;
    margin: 0;
    width: 100vw;
  }
  main {
    background-color: hsl(206, 94%, 87%);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
  }
  .list {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .container {
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
    border-radius: 0px;
    width: 100vw;
    background-image: url('../assets/images/bg-sidebar-mobile.svg');
  }
  .list {
    width: 40vw;
    margin: 0 auto;
  }
  .list {
    flex-direction: row;
    justify-content: space-around;
  }
  .list-content-text {
    display: none;
  }
  .list-content-link {
    display: inline;
  }
  .list-content-link a {
    display: inline;
  }
  .wrapper {
    width: 90vw;
    margin: 0;
    padding: 5px;
    margin: 0 auto;
    position: absolute;
    top: 15%;
    left: 5%;
    right: 5%;
    background-color: white;
    border-radius: 10px;
  }
  .btn {
    position: relative;
  }
  .btn {
    position: fixed;
    background-color: white;
    right: 5%;
    bottom: 10%;
  }
}
